<div class="jumbotron">
    <h1>Welcome to Ts Movies... BY KovacDr</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam porro, assumenda in, placeat, libero quis eveniet eligendi dolor voluptas eius cum laborum possimus asperiores nobis accusamus quidem maxime. Minus?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, excepturi nihil. Recusandae!</p>
    <a href="/movies" class="btn btn-primary">Go to App</a>
</div>